ion-list.homecard1.list.list-ios, .item-md, .item-ios {
background-color: transparentize($color: #ffffff, $amount: 1) !important;
// font-size: 50px;
// margin-bottom: 5px;
// color: black;
}

.my-selected-option {
    /* color: rgb(50, 126, 255);
     */
     /* color: blueviolet; */
     color: green;
    /* background-color: rgb(89, 134, 89); */
    font-weight: 700;
}

/* .tabbar a[aria-selected=true] {
    border: none;
    color: green;  
} */

.menu-inner, ion-item, ion-content{
background-color: rgba(250, 250, 250,0.7) !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: green !important;
}
.tabs-md .tab-button[aria-selected=true] {
  color: green !important;
}

ion-navbar[hidebackbutton] button[menutoggle] {
  display: block !important;
}

// * ::-webkit-scrollbar {
//   display: none;
// }