
<ion-header>

  <ion-navbar color="dark">
    <ion-title>New License</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="homeBackground">

  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding></ion-col>    
      <ion-col  col-12 col-md-10 no-padding>

      <!-- <ion-card class="homeCard"> -->
        
        <!-- <h1 style="font-family: georgia; margin: 10px;" text-center>{{license.name}} Details</h1> -->
        <!-- <hr> -->

      <ion-card *ngIf="license.id"  class="homeCard1" style="width: 90%; margin: 0 auto; margin-top: 25%">
        <ion-card-header text-center style="font-weight: bold"> Upload Vehicle Photos</ion-card-header>
        <ion-item>
          <ion-label stacked>Choose Vehicle View</ion-label>
          <ion-select class="selectStyle" [(ngModel)]="licenseView.category">
            <ion-option value="Front">Front</ion-option>
            <ion-option value="Rear">Rear</ion-option>
          </ion-select>
        </ion-item>
        <!-- <img [src]="'https://www.dev-x.co.za/MayapurIT/license/uploads/'+ license.pic1 + '?time=' + license.imageTimeStamp.substr(license.imageTimeStamp.length - 8)"/> -->
        <div text-center padding>
          <button ion-button color="dark" small icon-start (click)="goToCapturePhotoPage(license)">
          <ion-icon name="camera"></ion-icon>
          Capture Photo
          </button>
        </div>
      </ion-card>

      <ion-grid *ngIf="licenseImages !== undefined">
      <ion-row>
        <ion-col>
          <h2 style="font-family: georgia; margin: 10px; font-size: 20px; color: white">Vehicle Photos</h2>
          <hr>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-md-6 *ngFor="let image of licenseImages">
          <ion-card class="homeCard" style="width: 100%" >
            <ion-card-header text-center style="font-weight: bold"> {{image.category}} View</ion-card-header>
            <img [src]="'https://www.dev-x.co.za/MayapurIT/license/uploads/'+ image.imageName + '?time=' + image.imageTimeStamp.substr(image.imageTimeStamp.length - 8)"/>
            <div text-center padding>
              <button ion-button color="dark" small icon-start (click)="goToCapturePhotoPage(image.imageName,license,image.category)">
              <ion-icon name="camera"></ion-icon>
              Update Photo
              </button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>



        <!-- license SEGMENT -->
        <ion-card *ngIf="!license.id" class="homeCard" style="margin-top: 20px">
          
          <!-- license SEGMENT HEADER -->

          <div class="farmSegment" padding>
            <h1 style="font-family: georgia; margin: 10px; color: white" text-center>{{license.name}} Details</h1>
            <ion-segment mode="md" [(ngModel)]="licenseDashboard" color="light">
              <ion-segment-button value="info">
                Vehicle
              </ion-segment-button>
              <ion-segment-button value="license">
                License
              </ion-segment-button>
              <ion-segment-button value="attachments">
                Attachments
              </ion-segment-button>

            </ion-segment>
          </div>

          <!-- FARM SEGMENT CONTENT -->
          <div [ngSwitch]="licenseDashboard">

            <!-- PROFILE SEGMENT -->
            <div *ngSwitchCase="'info'">

              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h2 style="font-family: georgia; margin: 10px; font-size: 20px">Vehicle Info</h2>
                    <hr>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-4>
                    <ion-item id="rounded">
                      <ion-label stacked>Registration Number</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.regNo" no-padding no-margin></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Chassis</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.chassis" no-padding no-margin></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Make & Model</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.makeModel" no-padding no-margin></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-4 offset-md-4>
                    <ion-item>
                      <ion-label stacked>Engine No.</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.mmCode"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            
            <!-- COST SEGMENT -->
            <div *ngSwitchCase="'license'">
               <ion-grid>
                <ion-row>
                  <ion-col>
                    <h2 style="font-family: georgia; margin: 10px; font-size: 20px">License Info</h2>
                    <hr>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-4>
                    <ion-item id="rounded">
                      <ion-label stacked>MOT Expiry Date</ion-label>
                      <ion-datetime class="selectStyle" displayFormat="YYYY-MM-DD HH:mm:ss" pickerFormat="D MMM YYYY HH:mm:ss" [(ngModel)]="license.motExpiryDate" ></ion-datetime>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>COF Expiry Date</ion-label>
                      <ion-datetime class="selectStyle" displayFormat="YYYY-MM-DD HH:mm:ss" pickerFormat="D MMM YYYY HH:mm:ss" [(ngModel)]="license.cofExpiryDate" ></ion-datetime>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Vehicle License Fee</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.licenseFee" no-padding no-margin></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>License Amount</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.licenseAmount" no-padding no-margin></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>COF Late License Fee</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.clientRep"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Proxy</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.proxy"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Collected Date</ion-label>
                      <ion-datetime class="selectStyle" displayFormat="YYYY-MM-DD HH:mm:ss" pickerFormat="D MMM YYYY HH:mm:ss" [(ngModel)]="license.collectedDate" ></ion-datetime>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Collected By</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.collectedBy"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Contact Number</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.contactNo"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-10 offset-md-1 >
                    <ion-item>
                      <ion-label stacked>License Notes</ion-label>
                      <ion-textarea class="textareaStyle" type="text" [(ngModel)]="license.comment"></ion-textarea>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

              <!-- CONDITION SEGMENT -->
            <div *ngSwitchCase="'attachments'">
               <ion-grid>
                <ion-row>
                  <ion-col>
                    <h2 style="font-family: georgia; margin: 10px; font-size: 20px">Vehicle Condition</h2>
                    <hr>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-4>
                    <ion-item id="rounded">
                      <ion-label stacked>Body</ion-label>
                      <ion-select class="selectStyle" [(ngModel)]="license.bodyCondition">
                        <ion-option value="Good">Good</ion-option>
                        <ion-option value="Fair">Fair</ion-option>
                        <ion-option value="Poor">Poor</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Engine</ion-label>
                      <ion-select class="selectStyle" [(ngModel)]="license.engineCondition">
                        <ion-option value="Good">Good</ion-option>
                        <ion-option value="Fair">Fair</ion-option>
                        <ion-option value="Poor">Poor</ion-option>
                        <ion-option value="Non-Runner">Non-Runner</ion-option>
                        <ion-option value="Does Not Start">Does Not Start</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Tyres</ion-label>
                      <ion-select class="selectStyle" [(ngModel)]="license.tyreCondition">
                        <ion-option value="Good">Good</ion-option>
                        <ion-option value="Fair">Fair</ion-option>
                        <ion-option value="Poor">Poor</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-4 offset-md-2>
                    <ion-item>
                      <ion-label stacked>Wind Screen</ion-label>
                      <ion-select class="selectStyle" [(ngModel)]="license.windscreenCondition">
                        <ion-option value="Good">Good</ion-option>
                        <ion-option value="Fair">Fair</ion-option>
                        <ion-option value="Poor">Poor</ion-option>
                        <ion-option value="Cracked">Cracked</ion-option>
                        <ion-option value="Stone Chip">Stone Chip</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label stacked>Ancillaries</ion-label>
                      <ion-input class="inputStyle" [(ngModel)]="license.Ancillaries"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-10 offset-md-1 >
                    <ion-item>
                      <ion-label stacked>Other Comments</ion-label>
                      <ion-textarea class="textareaStyle" type="text" [(ngModel)]="license.comments"></ion-textarea>
                      <!-- <ion-select class="selectStyle" [(ngModel)]="license.GPS">
                        <ion-option value="license">license</ion-option>
                        <ion-option value="Bullock">Bullock</ion-option>
                        <ion-option value="Heifer">Heifer</ion-option>
                      </ion-select> -->
                    </ion-item>
                  </ion-col>
                </ion-row>
                <!-- <ion-row>
                  <ion-col>
                    <h2 style="font-family: georgia; margin: 10px; font-size: 20px">Vehicle Photos</h2>
                    <hr>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-5 offset-md-1>
                    <ion-card class="homeCard" style="width: 100%">
                      <ion-card-header text-center style="font-weight: bold"> Front View</ion-card-header>
                      <img [src]="'https://www.dev-x.co.za/MayapurIT/license/uploads/'+ license.pic1 + '?time=' + license.imageTimeStamp.substr(license.imageTimeStamp.length - 8)"/>
                      <div text-center padding>
                        <button ion-button color="dark" small icon-start (click)="goToCapturePhotoPage(license.pic1,license,'pic1')">
                        <ion-icon name="camera"></ion-icon>
                        Capture Photo
                        </button>
                      </div>
                    </ion-card>
                  </ion-col>
                  <ion-col col-12 col-md-5>
                    <ion-card class="homeCard" style="width: 100%">
                      <ion-card-header text-center style="font-weight: bold"> Rear View</ion-card-header>
                      <img [src]="'https://www.dev-x.co.za/MayapurIT/license/uploads/'+ license.pic2  + '?time=' + license.imageTimeStamp.substr(license.imageTimeStamp.length - 8)"/>
                      <div text-center padding>
                        <button ion-button color="dark" small icon-start (click)="goToCapturePhotoPage(license.pic2,license,'pic2')">
                         <ion-icon name="camera"></ion-icon>
                         Capture Photo
                         </button>
                      </div>
                    </ion-card>
                  </ion-col>
                </ion-row> -->
              </ion-grid>
            </div>
          </div>

        </ion-card>

      <!-- </ion-card> -->
      <div *ngIf="!license.id" text-center>
      <button style="width: 40%" ion-button color="dark" (click)="addlicense(license)" round>
        Submit
      </button>                
      </div>
      </ion-col>
      <ion-col no-padding></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
